@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.min.css';

@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';


* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.wrapper{
   display: flex;
}
.main-title{
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
}


@import 'blocks/header';
@import 'blocks/aside';
@import 'blocks/input';
@import 'blocks/select';
@import 'blocks/tag';
@import 'blocks/main';
@import 'blocks/respondents-list';
@import 'blocks/button';