.checkbox{
   display: flex;
   align-items: center;
   cursor: pointer;
   &__check{
      border: 1px solid $main-grey;
      border-radius: 4px;
      width: 16px;
      height: 16px;
      cursor: pointer;
   }
   &__input{
      display: none;
      &:checked+div{
         border: none;
         background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='16' rx='4' fill='%2318A0FB'/%3E%3Cpath d='M4 7.5L7 10.5L12.5 5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
         background-repeat: no-repeat;
         background-size: cover;
      }
   }
   span{
      margin-left: 8px;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
   }
}