.button{
   padding: 0 12px;
   background-color: $main-blue;
   color: #fff;
   font-weight: 500;
   height: 36px;
   border-radius: 5px;
   border: none;
   outline: none;
   &:disabled{
      background-color: $blue-disabled;
   }
   &:hover:not(:disabled){
      background-color: $blue-hover;
   }
}