.input{
   border-radius: 4px;
   height: 38px;
   border: 1px solid $main-grey;
   width: 100%;
   padding-left: 14px;
   &:focus{
      outline: 1px solid $main-color;
      outline-offset: -1px;
   }
   &_search{
      padding-left: 38px;
   }
   &::placeholder{
      color: rgba(44, 44, 44, .5);
   }
}