.respondents-list{
   width: 100%;
   border-radius: 5px;
   border: 1px solid $main-grey;
   table-layout: fixed;
   tbody{
      position: relative;
   }
   tr{
      height: 47px;
      border-bottom: 1px solid $main-grey;
   }
   th{
      font-weight: 600;
   }
   td, th{
      padding-right: 21px;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: content-box;

      //Галочка
      &:nth-child(1){
         width: 16px;
         padding-left: 14px;
      }
      //ФИО
      &:nth-child(2){
      }
      //Пол
      &:nth-child(3){
         width: 26px;
      }
      //Возраст
      &:nth-child(4){
         width: 55px;
      }
      //Образование
      &:nth-child(5){
         width: 90px;
      }
      //Место жительства
      &:nth-child(6){
         width: 130px;
      }
      //Семейное положение
      &:nth-child(7){
         width: 145px;
      }
      //Телефон
      &:nth-child(8){
         width: 115px;
      }
      //Тэги
      &:nth-child(9){
         // background-color: red;
      }
      //Опции
      &:last-child{
         width: 24px;
         padding-right: 15px;
      }
   }

   &__label{
      margin-bottom: 0;
      transform: translateY(2px);
   }
}